button {
    background-color: transparent;
    height: 20px;
    width: 20px;
    padding-left: 70px;
    border-style: none;
}

img {
    height: 200px;
    width: 200px;
    justify-self: center;
}