.content {
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    padding-bottom: 2%;
    padding-top: 2%;
}

.profile {
    border-radius: 30%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}