.navbar li {
  font-size: 125px;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  background-color: black;
}

body {
  background-color: gray;
  font-family: 'Amatic SC', cursive;
}

/* @media () {
  
} */
